In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'prefecture': ['東京都', '東京都', '神奈川県', '北海道', '北海道'],
    'name': ['saki', 'saki', 'takeshi', 'toshi', 'kei'],
    'age': [10, 10, 42, 29, 29]
})

df

  prefecture     name  age
0        東京都     saki   10
1        東京都     saki   10
2       神奈川県  takeshi   42
3        北海道    toshi   29
4        北海道      kei   29

In [3]:
df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [4]:
df.duplicated(subset=['prefecture'])

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [5]:
df.duplicated(subset=['prefecture','age'])

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [6]:
df.duplicated(subset=['prefecture'], keep=False)

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [7]:
duplicated_df = df[df.duplicated(subset=['prefecture'], keep=False)]
duplicated_df

  prefecture   name  age
0        東京都   saki   10
1        東京都   saki   10
3        北海道  toshi   29
4        北海道    kei   29

In [8]:
df.drop_duplicates()

  prefecture     name  age
0        東京都     saki   10
2       神奈川県  takeshi   42
3        北海道    toshi   29
4        北海道      kei   29

In [9]:
df.drop_duplicates(subset=['prefecture','age'])

  prefecture     name  age
0        東京都     saki   10
2       神奈川県  takeshi   42
3        北海道    toshi   29

In [10]:
df.drop_duplicates(subset=['prefecture'], keep=False)

  prefecture     name  age
2       神奈川県  takeshi   42

In [11]:
df.drop_duplicates(inplace=True)
df

  prefecture     name  age
0        東京都     saki   10
2       神奈川県  takeshi   42
3        北海道    toshi   29
4        北海道      kei   29

In [12]:
df.reset_index(drop=True, inplace=True)
df

  prefecture     name  age
0        東京都     saki   10
1       神奈川県  takeshi   42
2        北海道    toshi   29
3        北海道      kei   29