In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("sample.xlsx")

In [3]:
df.head()

   id Quastion1
0   1       A,B
1   2         A
2   3         C
3   4     A,B,C
4   5       A,C

In [4]:
df["q1"] = df["Quastion1"].str.split(',')
df["q1"]

0       [A, B]
1          [A]
2          [C]
3    [A, B, C]
4       [A, C]
Name: q1, dtype: object

In [5]:
q1_sum = sum(df['q1'], [])
q1_sum

['A', 'B', 'A', 'C', 'A', 'B', 'C', 'A', 'C']

In [6]:
import collections
c = collections.Counter(q1_sum)
c.most_common()

[('A', 4), ('C', 3), ('B', 2)]