In [1]:
import pandas as pd

df = pd.read_csv('../sample/sample3.csv')
df.head()

,id,first_name,last_name,email,gender,ip_address
0,1,Ansell,Long,along0@buzzfeed.com,Bigender,234.24.43.145
1,2,Jocelyne,Gout,jgout1@goo.ne.jp,Male,82.150.99.250
2,3,Amie,Strippling,astrippling2@archive.org,Male,77.233.78.125
3,4,Will,Joppich,wjoppich3@hatena.ne.jp,Genderqueer,130.39.243.41
4,5,Vite,Dumke,vdumke4@wisc.edu,Female,168.30.161.229

In [2]:
df.to_csv('../sample/export_data.csv')

In [3]:
df.to_csv('../sample/export_data_i.csv', index=False)

In [4]:
df.to_excel("../sample/export_data.xlsx")

In [5]:
df.to_excel("../sample/export_data_i.xlsx", index=False, header=False)

In [6]:
df2 = df

with pd.ExcelWriter("../sample/export_data_sheet.xlsx") as EW:
    df.to_excel(EW, index=False, sheet_name="df1")
    df2.to_excel(EW, index=False, sheet_name="df2")

In [7]:
df.to_dict()

{'id': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
 'first_name': {0: 'Ansell', 1: 'Jocelyne', 2: 'Amie', 3: 'Will', 4: 'Vite'},
 'last_name': {0: 'Long',
  1: 'Gout',
  2: 'Strippling',
  3: 'Joppich',
  4: 'Dumke'},
 'email': {0: 'along0@buzzfeed.com',
  1: 'jgout1@goo.ne.jp',
  2: 'astrippling2@archive.org',
  3: 'wjoppich3@hatena.ne.jp',
  4: 'vdumke4@wisc.edu'},
 'gender': {0: 'Bigender',
  1: 'Male',
  2: 'Male',
  3: 'Genderqueer',
  4: 'Female'},
 'ip_address': {0: '234.24.43.145',
  1: '82.150.99.250',
  2: '77.233.78.125',
  3: '130.39.243.41',
  4: '168.30.161.229'}}

In [8]:
df_dict = df.to_dict(orient="index")
df_dict

{0: {'id': 1,
  'first_name': 'Ansell',
  'last_name': 'Long',
  'email': 'along0@buzzfeed.com',
  'gender': 'Bigender',
  'ip_address': '234.24.43.145'},
 1: {'id': 2,
  'first_name': 'Jocelyne',
  'last_name': 'Gout',
  'email': 'jgout1@goo.ne.jp',
  'gender': 'Male',
  'ip_address': '82.150.99.250'},
 2: {'id': 3,
  'first_name': 'Amie',
  'last_name': 'Strippling',
  'email': 'astrippling2@archive.org',
  'gender': 'Male',
  'ip_address': '77.233.78.125'},
 3: {'id': 4,
  'first_name': 'Will',
  'last_name': 'Joppich',
  'email': 'wjoppich3@hatena.ne.jp',
  'gender': 'Genderqueer',
  'ip_address': '130.39.243.41'},
 4: {'id': 5,
  'first_name': 'Vite',
  'last_name': 'Dumke',
  'email': 'vdumke4@wisc.edu',
  'gender': 'Female',
  'ip_address': '168.30.161.229'}}